<h2>Your Events:
  <div class = "container">
    <p><% Event.all.each do |i| %>
      <% i.name %><br>
      <% i.description %><br>
      <% i.website %><br>
      <% end %></p>
  </div>
</h2>

<p><a href="/logout">Log Out</a></p>
