<h2>Create Event:</h2>
  <div class = "container">
    <form action="/events/new" method="POST">
    <label>Event Name: </label><input type="text" name="name"><br>
    <br>
    <label>Event Description: </label><textarea name="description" rows="4" cols="50"></textarea><br>
    <br>
    <label>Event Website: </label><input type="text" name="website"><br>
    <br>
    <input type="submit" value="Submit">
    </form>
  </div>

<p><a href="/logout">Log Out</a></p>
