<h2>Your Event:
  <div class="container">
    <p><%= @event.name %><br>
      <%= @event.description %><br>
      <%= @event.website %><br>
    </p>
  </div>
</h2>

<p><a href="events/edit">Edit Event</a>
  <form action="/events/<%=@event.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event">
  </form>
</p>
<p><a href="/logout">Log Out</a></p>
